# Created by Vercel CLI
NEXT_PUBLIC_SITE_URL="https://savnnah.vercel.app"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdhb3Z5a2VwaG5wZmpuYWlreGpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI5NTEwOTcsImV4cCI6MjA1ODUyNzA5N30.TmCdqqdYvIAQGs7tpLuyNSOQRpvmSpdQu_20yJbkbP8"
NEXT_PUBLIC_SUPABASE_URL="https://gaovykephnpfjnaikxjl.supabase.co"

# Chat Service Configuration
NEXT_PUBLIC_CHAT_ENABLED=true
CHAT_SERVICE_API_KEY=88d1755447097e9b4c70b4086a1d53a06efe8c005cd592142b16475541332d1d
CHAT_SERVICE_BASE_URL=https://chat-master.replit.app/api
NEXT_PUBLIC_WEBSOCKET_URL=ws://chat-master.replit.app/api